form{
    border: 2px solid burlywood;
    background-color: aqua;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 10px;
}
.mt-100{
    margin-top: 100px;
}

.center {
    width: 90%;
    margin: 0 auto 0 auto;
}

.trans {
    display: block;
    position: relative;
}

.trans::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.span3:focus ~ .alert {
    display: none;
}
.span2:focus ~ .alert {
    display: block;
}