<div class="mt-100 w">
  <ngb-tabset>
    <ngb-tab title="One-way">
      <ng-template ngbTabContent>
        <form (submit)="searchOneWay(from.value, to.value, leaving1.value, adult.value, child.value, typePers.value, business_class.value);">
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/plane-taking-off.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search"  name="from1" [(ngModel)]="model1"  class="form-control mb-2 mr-sm-5 mb-sm-0"
                     #from placeholder="Enter city or airport" title="Enter city or airport">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-addon">
                <img src="./../../../assets/arraving-airplane.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="to2" [(ngModel)]="model2" class="form-control mb-2 mr-sm-2 mb-sm-0"
                     #to placeholder="To Destination" title="To Destination">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <input class="form-control" placeholder="Leaving on"
                     name="dp3" [(ngModel)]="model3" ngbDatepicker #leaving1 #leaving1_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="leaving1_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div >
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/man-icon.svg" style="width: 1.2rem; height: 1.2rem;"/>
              </div>
              <select class="form-control" #adult title="Adults">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/kids-couple.svg" style="width: 1.2rem; height: 1.2rem;"/>
              </div>
              <select class="form-control" #child title="Children">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
            <div class="input-group-addon">Type</div>
            <select class="form-control" #typePers title="Type">
              <option>Normal</option>
              <option>Student</option>
              <option>Youth</option>
              <option>Etnic</option>
              <option>Agent</option>
              <option>ITX</option>
            </select>
          </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">Class</div>
              <select class="form-control" #business_class title="Class">
                <option>Economy Class</option>
                <option>Premium Economy Class</option>
                <option>Business Class</option>
                <option>First Class</option>
              </select>
            </div>
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-0">Search flights</button>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Return">
      <ng-template ngbTabContent>
        <form (submit)="searchReturnway(from.value, to.value, leaving1.value, ret1.value, adult.value, child.value, typePers.value, business_class.value);">
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/plane-taking-off.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="from"[(ngModel)]="model1"  class="form-control mb-2 mr-sm-5 mb-sm-0"
                     #from placeholder="Enter city or airport" title="Enter city or airport">
            </div>
            <div class="input-group mb-2 mr-sm-5">
              <div class="input-group-addon">
                <img src="./../../../assets/arraving-airplane.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="to" [(ngModel)]="model2" class="form-control mb-2 mr-sm-2 mb-sm-0"
                     #to placeholder="To Destination" title="To Destination">
            </div>
          </div >
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2 mr-sm-5">
              <input class="form-control" placeholder="Leaving on" name="dp1" [(ngModel)]="model3" ngbDatepicker
                     #leaving1 #leaving1_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="leaving1_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
            <div class="input-group mb-2 mr-sm-5 mb-2">
              <input class="form-control" placeholder="Returning on" name="dp4" [(ngModel)]="model4" ngbDatepicker
                     #ret1 #return1_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="return1_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div>
          <div class="form-inline mb-2 center">
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/man-icon.svg" style="width: 1.2rem; height: 1.2rem;"/>
              </div>
              <select class="form-control" #adult title="Adults">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/kids-couple.svg" style="width: 1.2rem; height: 1.2rem;"/>
              </div>
              <select class="form-control" #child title="Children">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">Type</div>
              <select class="form-control" #typePers title="Type">
                <option>Normal</option>
                <option>Student</option>
                <option>Youth</option>
                <option>Etnic</option>
                <option>Agent</option>
                <option>ITX</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">Class</div>
              <select class="form-control" #business_class title="Class">
                <option>Economy Class</option>
                <option>Premium Economy Class</option>
                <option>Business Class</option>
                <option>First Class</option>
              </select>
            </div>
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Search flights</button>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Multi-city">
      <ng-template ngbTabContent>
        <form (submit)="searchMultiCity(from1.value, to1.value, leaving1.value,
                                        from2.value, to2.value, leaving2.value,
                                        from3.value, to3.value, leaving3.value,
                                        from4.value, to4.value, leaving4.value,
                                        adult.value, child.value, typePers.value, business_class.value);">
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/plane-taking-off.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="from1" [(ngModel)]="model1"  class="form-control mb-2 mr-sm-5 mb-sm-0"
                     #from1 placeholder="Enter city or airport" title="Enter city or airport">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-addon">
                <img src="./../../../assets/arraving-airplane.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="to2" [(ngModel)]="model2" class="form-control mb-2 mr-sm-2 mb-sm-0"
                     #to1 placeholder="To Destination" title="To Destination">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <input class="form-control" placeholder="Leaving on" name="dp3" [(ngModel)]="model3" ngbDatepicker
                     #leaving1 #leaving1_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="leaving1_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div >
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/plane-taking-off.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="from2" [(ngModel)]="model2"  class="form-control mb-2 mr-sm-5 mb-sm-0"
                     #from2 placeholder="Enter city or airport" title="Enter city or airport">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-addon">
                <img src="./../../../assets/arraving-airplane.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="to5" [(ngModel)]="model5" class="form-control mb-2 mr-sm-2 mb-sm-0"
                     #to2 placeholder="To Destination" title="To Destination">
            </div>
            <div class="input-group mb-2 mr-sm-4">
              <input class="form-control" placeholder="Leaving on" name="dp4" [(ngModel)]="model4" ngbDatepicker
                     #leaving2 #leaving2_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="leaving2_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div >
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/plane-taking-off.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="from5" [(ngModel)]="model5"  class="form-control mb-2 mr-sm-5 mb-sm-0"
                     #from3 placeholder="Enter city or airport" title="Enter city or airport">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-addon">
                <img src="./../../../assets/arraving-airplane.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="to6" [(ngModel)]="model6" class="form-control mb-2 mr-sm-2 mb-sm-0"
                     #to3 placeholder="To Destination" title="To Destination">
            </div>
            <div class="input-group mb-2 mr-sm-4">
              <input class="form-control" placeholder="Leaving on" name="dp7" [(ngModel)]="model7" ngbDatepicker
                     #leaving3 #leaving3_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="leaving3_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div >
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/plane-taking-off.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="from6" [(ngModel)]="model6"  class="form-control mb-2 mr-sm-5 mb-sm-0"
                     #from4 placeholder="Enter city or airport" title="Enter city or airport">
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-addon">
                <img src="./../../../assets/arraving-airplane.svg" style="width: 1.5rem; height: 1.5rem;"/>
              </div>
              <input type="text" [ngbTypeahead]="search" name="to8" [(ngModel)]="model8" class="form-control mb-2 mr-sm-2 mb-sm-0"
                     #to4 placeholder="To Destination" title="To Destination">
            </div>
            <div class="input-group mb-2 mr-sm-4">
              <input class="form-control" placeholder="Leaving on" name="dp9" [(ngModel)]="model9" ngbDatepicker
                     #leaving4 #leaving4_date="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="leaving4_date.toggle()" type="button">
                  <img src="./../../../assets/monthly-calendar.svg" style="width: 1.5rem; height: 1.5rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div >
          <div class="form-inline mb-3 center">
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/man-icon.svg" style="width: 1.2rem; height: 1.2rem;"/>
              </div>
              <select class="form-control" #adult title="Adults">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">
                <img src="./../../../assets/kids-couple.svg" style="width: 1.2rem; height: 1.2rem;"/>
              </div>
              <select class="form-control" #child title="Children">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">Type</div>
              <select class="form-control" #typePers title="Type">
                <option>Normal</option>
                <option>Student</option>
                <option>Youth</option>
                <option>Etnic</option>
                <option>Agent</option>
                <option>ITX</option>
              </select>
            </div>
            <div class="input-group mb-2 mr-sm-3 mb-2">
              <div class="input-group-addon">Class</div>
              <select class="form-control" #business_class title="Class">
                <option>Economy Class</option>
                <option>Premium Economy Class</option>
                <option>Business Class</option>
                <option>First Class</option>
              </select>
            </div>
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-0">Search flights</button>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<p *ngFor="let flght of flghts">{{flght.from_location}} ({{flght.from_iata_code}}) {{flght.to_location}} ({{flght.to_iata_code}})
  <button (click)="openRequestedPopup(flght, usuariomodal)">See Details</button>
</p>

<ng-template #usuariomodal>
  <div class="modal-header">
    <h4 class="modal-title">{{flght.from_location}} - {{flght.to_location}}</h4>
  </div>
  <div class="modal-body">
    <div>From : {{flght.from_location}}</div>
    <div>Iata Code : {{flght.from_iata_code}}</div>
    <div>To : {{flght.to_location}}</div>
    <div>Iata Code : {{flght.to_iata_code}}</div>
    <div>Leaving Data : {{flght.leaving_data}}</div>
    <div>Fly start on : {{flght.fly_leave_begin}}</div>
    <div>Fly ends on : {{flght.fly_leave_end}}</div>
    <div>Return Data : {{flght.returing_data}}</div>
    <div>Fly start to : {{flght.fly_retur_begin}}</div>
    <div>Fly ends to : {{flght.fly_retur_end}}</div>
    <div>Price : {{flght.price}} £</div>
    <div>Fly Company : {{flght.flight_name_company}}</div>
    <div><img src="{{flght.flight_icon_company}}"></div>
  </div>
  <div class="modal-footer">
    <p>Thanks to chose Travel Technology</p>
  </div>
</ng-template>

<div style="margin: 20px 20px;" >
  <p>What is Lorem Ipsum?</p>
</div>

