form{
    border: 2px solid burlywood;
    background-color: aqua;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 10px;
}
.mt-100{
    margin-top: 100px;
}

.center {
    width: 90%;
    margin: 0 auto 0 auto;
}